<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Геометрические эскизы</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Здравствуй, интернет-читатель!</h1>
        <p>
            На этой веб-странице ты сможешь познакомиться с интереснейшими математическими задачами, 
            которые до сих пор не были решены современными учёными! Они могут быть просты и 
            понятны по своей постановке, но не всё так просто...
        </p>
        <p>
            Приятного времяпрепровождения!
        </p>
        
        <h2>Трисекция угла</h2>
        <p>
            Задача о трисекции угла заключается в том, чтобы разделить произвольный угол на три равные части.
            Эта задача появилась ещё во времена Древней Греции и с тех пор надолго засела в умах людей.
            Будучи задачей древнегреческой, изначально предполагалось, что она должна быть решена с использованием
            главнейших инструментов евклидовой геометрии - циркуля и линейки. Однако вскоре было установлено, что это невозможно,
            а позднее и доказано формально. Попытки решения этой задачи серьёзно повлияли на развитие математики и привели к 
            исследованию и появлению новых математических инструментов и концепций.
        </p>

        <h2>Удвоение куба</h2>
        <p>
            Другой неразрешимой с помощью циркуля и линейки задачей является удвоение куба - нахождение с помощью циркуля и линейки
            ребра такого куба, объём которого был бы вдвое больше объёма заданного. 
        </p>
        <p>
            О том, как появилась эта задача, есть очень красивая античная легенда: однажды на греческом острове Делос началась эпидемия чумы.
            Жители обратились к оракулу, чтобы он рассказал им, как справиться с напастью. Он сообщил, что для этого им необходимо увеличить размер
            алтаря вдвое, а он имел форму куба. Когда они поставили второй такой же куб, то ничего не изменилось. Разочарованные греки снова пошли к оракулу,
            дабы пожаловаться, что его предложение было бессмысленным. Однако оракул пояснил им, что алтарь должен быть единым кубом. С тех пор древние греки
            и пытались разобраться, как же всё таки можно получить куб, по объёму ровно вдвое больше имеющегося.
        </p>

        <h2>Квадратура круга</h2>
        <p>
            Очередная античная задача, неразрешимая с помощью циркуля и линейки. По её условию необходимо построить такой квадрат, площадь которого будет равна площади данного круга.
            Найти величину такой площади несложно, достаточно решить весьма простое уравнение, из которого становится ясно, что сторона искомого квадрата должна быть в √π больше радиуса круга.
            К сожалению, точно отложить отрезок, в 1,77245 раз длиннее данного, никому так и не удалось!

            Попытки решения этой задачи были настолько многочисленны и настолько тщетны, что само выражение "квадратура круга" стало крылатым. Во многих областях оно синонимично с выражением "сизифов труд" - безнадёжная и бесполезная работа.
        </p>
        <h2>
            Заключение
        </h2>
        <p>
            Спасибо, что посетил этот сайт! Надеюсь, он тебе понравился и ты узнал что-то новое. На этом пока что всё! Больше на этом сайте <i>ничего</i> нет, но он обязательно будет обновляться.
        </p>
        <!--{{ flag_1 }}-->
    </body>
</html>