{% extends "base.html" %}
{% set current_page = "main" %}
{% block main %}
<div id="contents">
    <div class="post">
      <h2>Слово редактора</h2>
      <p>Как главный редактор газеты "Сельский блог", я рад представить наше небольшое, но душевное издание, которое следит за жизнью нашего села и объединяет жителей Парижа в едином информационном поле. Наша команда журналистов и доброжелателей старается предоставить нашим читателям актуальные и интересные новости, а также освещать местные события и культурные мероприятия. Мы рады поддерживать и развивать наше сообщество и приглашаем всех желающих принять участие в жизни нашей газеты. 
    </div>
    <div id="col1">
      <h2 class="subhead">Последние новости</h2>
      <div class="post_item"> <img src="{{ url_for('static', path='images/antenna.jpg') }}" alt="" />
        <h3><a href="{{ url_for('post', id=2001) }}">Атака</a></h3>
        <p>Сенсационная новость!!! Срочно! В нашем селе сегодня кибератака! <span class="readmore"><a href="{{ url_for('post', id=2001) }}">Читать</a></span> </p>
      </div>
      <div class="post_item"> <img src="{{ url_for('static', path='images/pepper.jpg') }}" width="100" alt="" />
        <h3><a href="{{ url_for('post', id=1985) }}">Крутой перец</a></h3>
        <p>Наш редактор побывал на главном событии года - конкурсе "Вырасти самый большой перец". Итоги и советы от экспертов в нашем репортаже <span class="readmore"><a href="{{ url_for('post', id=1985) }}">Читать</a></span></p>
      </div>
    </div>
    <div id="col2">
      <h2 class="subhead">Важное</h2>
      <div class="post_item">
        <h3><a href="{{ url_for('post', id=1740) }}">О будущем...</a></h3>
        <p>Дорогие читатели! Важное объявление: Сельский блог теперь продаётся по подписке. Для пенсионеров мы выделяем скидки. Оформить подписку можно на почте или с помощью интернет денег. <span class="readmore"><a href="{{ url_for('post', id=1740) }}">Читать</a></span></p>
      </div>
      <div class="post_item">
        <h3><a href="{{ url_for('post', id=1856) }}">Загадка молока</a></h3>
        <p> <img src="{{ url_for('static', path='images/moloko.jpg') }}" alt="" width="100" height="87" />Молоко без молока и без коровы - как такое возможно? Разобралась наша выпускающая редактор Антонина. Бонус - рецепт года по версии читателей Сельского блога <span class="readmore"><a href="{{ url_for('post', id=1856) }}">Read More</a></span> </p>
      </div>
    </div>

{% endblock %}
