{% extends "base.html" %}
{% set current_page = "subscribe" %}
{% set title = "Подписаться" %}
{% block main %}
<div id="contents">
    <div class="post">
      <h2>Подпишись на Сельский Блог</h2>
      <img src="{{ url_for('static', path='images/saveus.jpg') }}" width="90%" />
      <p>От каждого подписчика зависит сохранение нашего издания. Эти деньги позволяют нам оплатить хостинг, </p>
      <p>1 ETH - это всего лишь чашка кофе в вашем кафе.</p>
      <h3>Переведите деньги сюда: 0x313376fA3C00DD910e98e8C7Cd9945C35b9a5A08</h3>
      <p>После этого напишите нам ваш приватный ключ, чтобы мы проверили, что это ваш кошелек.</p>
    </div>

{% endblock %}
